<launch>

    <!-- Forest dataset -->
    <arg  name="bag_file"  
    default="/home/alwaki/Downloads/plot1korsnas.bag"/> 
    <arg name="start_time" default="0"/>

    <!-- Play the bag file -->
    <param name="/use_sim_time" value="true" />

    <node required="true" pkg="rosbag" type="play" name="rosbag_player"
        args="--clock $(arg bag_file) -r 0.2 -s $(arg start_time)"
        launch-prefix="bash -c 'sleep 1; $0 $@' "/>

    <!-- Run the preprocess node -->
    <node pkg="forest_slam" type="preprocess_node" name="preprocess_node"
    respawn="false" output="screen" required="true"> </node>

    <!-- Run the optimizer node -->
    <node pkg="forest_slam" type="optimizer_node" name="optimizer_node"
    respawn="false" output="screen" required="true"> </node>


    <!-- Setup static transform between sensors -->      
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_vectornav2ouster" 
    args="0.0 0.0 0.1 1 0 0 0 vectornav os_sensor" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_baseLink2vectornav" 
    args="0.0 0.0 1.9 0 0 0 1 base_link vectornav" />

    <!-- Run feature extraction node -->
    <node pkg="forest_slam" type="feature_node.py" name="feature_node"
    respawn="false" output="screen" required="true"> </node>

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="rviz" respawn="true" output="log" 
        args="-d $(find forest_slam)/launch/launch.rviz" />

</launch>